{include file="public/header"}
<!-- 页体 -->
<div class="mdui-container">
    <!-- 标题组件 -->
    <div class="mdui-row">
        <div class="mdui-col-xs-6">
            <h1 class="mdui-text-color-theme mdui-p-t-2">{$ViewTitle}</h1>
        </div>
    </div>

    <!-- 主体组件 -->
    <div class="mdui-card">
        <div class="mdui-typo mdui-p-a-2">
            <ul>
                <li>🗃️当前版本：<kbd>{$LCVersionInfo.VerS}[{$LCVersionInfo.Ver}]</kbd></li>
                <li>🆕最新版本：<a href="https://github.com/zhiguai/LoveCards/releases"><kbd id="NewVerS">加载中...</kbd></a>

                </li>
            </ul>
            <pre id="NewVerSVerLog">加载中...</pre>
        </div>
    </div>


</div>


</div>
{include file="public/footer"}
<script>
    const BaseFun = () => {
        //最新版本
        GithubDateRelesesLatest().then(function (result) {
            if (result != 'error') {
                $('#NewVerS').text(result['name']);
            } else {
                $('#NewVerS').text('前往查看');
            }
        })

        $.ajax({ url: "https://ghps.cc/https://raw.githubusercontent.com/zhiguai/LoveCards/main/VerLog.md", type: 'GET', async: true }).then(function (data) {
            $('#NewVerSVerLog').text(data);
        }).catch(function (error) {
            $('#NewVerSVerLog').text('获取失败');
        });
    }; BaseFun();
</script>
</body>

</html>