{include file="public/header"}
<!-- 页体 -->
<div class="mdui-container">

    <!-- 标题组件 -->
    <div class="mdui-row">
        <div class="mdui-col-xs-6">
            <h1 class="mdui-text-color-theme mdui-p-t-2">{$title}</h1>
        </div>
        <div class="mdui-col-xs-6">
            <a href="/admin/user">
                <button
                    class="mdui-m-t-4 mdui-float-right mdui-btn mdui-btn-raised mdui-color-theme-accent mdui-ripple">返回管理</button>
            </a>
        </div>
    </div>

    <!-- 主体组件 -->
    <div class="mdui-card mdui-p-a-2">

        <div class="mdui-row">
            <div class="mdui-col-xs-12 mdui-col-md-5">
                <!--"账号"输入框-->
                <div class="mdui-textfield">
                    <label class="mdui-textfield-label">用户名</label>
                    <input class="mdui-textfield-input" type="text" id="idUserName" maxlength="12">
                </div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-md-5">
                <!--"密码"输入框-->
                <div class="mdui-textfield">
                    <label class="mdui-textfield-label">密码</label>
                    <input class="mdui-textfield-input" type="password" id="idPassword" maxlength="12">
                </div>
            </div>

            <div class="mdui-col-xs-12 mdui-col-md-2">
                <!--"权限"输入框-->
                <label class="mdui-textfield-label mdui-m-t-2">权限</label>
                <select class="mdui-select" id="idPower">
                    <option value="0">站长</option>
                    <option value="1" selected>管理员</option>
                </select>
            </div>

        </div>

        <div class="mdui-row">
            <div class="mdui-col-xs-12">
                <!--提交按钮-->
                <button id="submitAdd"
                    class="mdui-m-t-4 mdui-float-right mdui-btn mdui-btn-raised mdui-color-theme-accent mdui-ripple">提交</button>
            </div>
        </div>

    </div>


</div>
{include file="public/footer"}

<script>
    $(function () {
        //提交
        $('#submitAdd').click(function () {
            data = {
                'uuid': $.cookie('uuid'),
                'userName': $('#idUserName').val(),
                'password': $('#idPassword').val(),
                'power': $('#idPower').val(),
            };
            //提交数据
            result = apiAjax0(data, apiUserAdd, 'POST');
            if (result) {
                //成功
                mdui.snackbar({
                    message: '添加成功',
                    position: 'left-top'
                });
                mdui.snackbar({
                    message: '正在跳转...',
                    position: 'left-top'
                });
                //跳转
                jumpUrl('/admin/user');
                return;
            }
        })
    });
</script>
</body>

</html>