<div style="margin-top: 140px">
</div>
<!-- 依赖库 -->
<script src="{__A-assets__}/lib/jquery-3.6.0/jquery.min.js"></script>
<script src="{__A-assets__}/lib/mdui-v1.0.2/js/mdui.min.js"></script>
<script src="{__A-assets__}/lib/jquery_lazyload-1.9.7/jquery.lazyload.js"></script>
<script src="{__A-assets__}/lib/jquery-cookie-1.4.1/jquery.cookie.min.js"></script>
<script src="{__A-assets__}/lib/axios-1.5.0/axios.min.js"></script>
<script src="{__A-assets__}/js/Base.js"></script>
<script src="{__A-assets__}/js/AdminCommon.js"></script>
<script src="{__A-assets__}/js/commonOld.js"></script>
{if $ViewActionJS}
<!-- 对应页面类 -->
<script src="/view/admin/{$ViewActionJS}"></script>
{/if}
<!-- 全局 -->
<script>
    //实例化通用类
    let AdminCommonEntity = new AdminCommon();

    //通用跳转
    const jumpUrl = (url, time) => AdminCommonEntity.JumpUrl(url, time);

    $(function () {
        //CookieMsg处理
        AdminCommonEntity.CookieMsgHandling();
        //绑定全局账户退出按钮
        AdminCommonEntity.BindLogout('submitLogout');
    })


    //待更新 通知横幅
    const FunUpdateNotice = () => {
        GithubDateRelesesLatest().then(function (result) {
            //console.log(parseInt('{$LCVersionInfo.VerS}') + 'p' + parseInt(result['tag_name'].slice(1)));
            if (result != 'error') {
                if ('{$LCVersionInfo.VerS}' < result['tag_name'].slice(1)) {
                    $('#Component-UpdateNotice').attr('style', '');
                    $('#Component-UpdateNotice').find("kbd.tag_name").text('v' + result['tag_name'].slice(1));
                }
            }
        })
    }; FunUpdateNotice();
</script>